{% load staticfiles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


<nav class="navbar  navbar-default">
    <div class="containre-fuild">
        <div class="navbar-header">
            <a class="navbar-brand" href=" {% url "books:index" %}">Tlibrary</a>
        </div>

    </div>

</nav>


<ul>
{% for book in all_books %}

    <li><a href="{% url 'music:detail' book.id %}">{{ book.title }} {{ book.author }}</a></li>

{% endfor%}
</ul>
